
  Form {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.251); /* Add a semi-transparent white background to the form */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Add a subtle shadow to the form */
    width: 400px; /* Adjust the maximum width of the form */
  }
  
  /* Add additional CSS styling as needed for form elements */
  /* For example, you can style the labels, inputs, and button */
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  /* Set a common width for both username and password inputs */
  input[type="text"],
  input[type="password"] {
    width: 90%; /* Use the same width for both input types */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #b300b0cb;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #b300b040;
  }